* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, serif;
}

#main {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

#add {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.note {
    width: 400px;
    height: 400px;
    margin: 15px;
    margin-top: 55px;
    background-color: black;
    color: white;
}

.tool {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: end;
}

.note textarea {
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px;
    font-size: 18px;
    background-color: darkgrey;
    color: black;
}