.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #fec400;
    color: black;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background-color: #212529;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #fec400;
    color: black;
    font-weight: 600;
    width: 25%;
}
.contact-form button:hover{
    background: #17a2b7;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
.form-group {
    background-color: #212529;
    padding: 2%;
}