/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, serif;
}

#main {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

#add {
  position: fixed;
  right: 10px;
  top: 10px;
  padding: 10px;
  border: 0;
  outline: 0;
  border-radius: 5px;
}

.note {
  width: 400px;
  height: 400px;
  margin: 15px;
  margin-top: 55px;
  background-color: black;
  color: white;
}

.tool {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: end;
}

.note textarea {
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  font-size: 18px;
  background-color: darkgrey;
  color: black;
}
